In [3]:
import sys
sys.path.append("../../")
%cd ../../

# Ankipandas Playground

In [2]:
from ankipandas import Collection

In order to use Anki pandas, **_Anki has to be installed on the system_**, as the library connects to the Anki database and can't load an exported anki collection directly

In [11]:
col = Collection()
col.notes.help_cols()

,AnkiColumn,Table,Description,Native,Default
Column,,,,,
nflds,flds,notes,Fields of the card as list. In the raw anki da...,True,True
nguid,guid,notes,"Globally Unique Id, almost certainly used for ...",True,True
nmod,mod,notes,"Modification timestamp, epoch seconds",True,True
nmodel,NaN,notes,Name of the model,False,True
ntags,tags,notes,Tags of the note as list. In the raw anki data...,True,True
nusn,usn,notes,This column (update sequence number) is used t...,True,True

Output of the below column is cleared to prevent data leakage.

In [ ]:
col.notes

In [12]:
col.cards.help_cols()

,AnkiColumn,Table,Description,Native,Default
Column,,,,,
cdeck,NaN,cards,Name of the current deck,False,True
cdue,due,cards,Due is used differently for different card typ...,True,True
cfactor,factor,cards,The new ease factor of the card in permille (p...,True,True
civl,ivl,cards,The new interval that the card was pushed to a...,True,True
clapses,lapses,cards,"The number of times the card went from a ""was ...",True,True
cleft,left,cards,"Of the form ``a*1000+b``, with: ``b`` the numb...",True,True
cmod,mod,cards,Modification time [epoch seconds],True,True
codeck,NaN,cards,Original deck: only used when the card is curr...,False,True
codue,odue,cards,Original due: only used when the card is curre...,True,True
cord,ord,cards,Identifies which of the card templates the car...,True,True
cqueue,queue,cards,"Can take the value ‘sched buried’, ‘user burie...",True,True
creps,reps,cards,Number of reviews,True,True
ctype,type,cards,"Can take the values ‘learning’, ‘review’, ‘rel...",True,True
cusn,usn,cards,This column (update sequence number) is used t...,True,True
nid,id,notes,ID of the note (this corresponds to a epoch mi...,True,True
nid,nid,cards,ID of the note (this corresponds to a epoch mi...,True,True

In [14]:
col.cards

,nid,cord,cmod,cusn,ctype,cqueue,cdue,civl,cfactor,creps,clapses,cleft,codue,cdeck,codeck
cid,,,,,,,,,,,,,,,
1649256959292,1649256959290,0,1677426112,-1,learning,new,380,0,0,11,1,1001,0,DB II,
1649257080066,1649257080066,0,1677426112,-1,learning,new,381,0,0,7,0,1001,0,DB II,
1649257209250,1649257209250,0,1677426112,-1,learning,new,382,0,0,14,1,1001,0,DB II,
1649257369771,1649257369771,0,1677426112,-1,learning,new,383,0,0,11,0,1001,0,DB II,
1649257453747,1649257453747,0,1677426112,-1,learning,new,384,0,0,8,0,1001,0,DB II,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676649613450,1676649613450,0,1677426104,-1,learning,new,375,0,0,0,0,0,0,Data Security,
1676649726046,1676649726046,0,1677426104,-1,learning,new,376,0,0,0,0,0,0,Data Security,
1676650241828,1676650241828,0,1677426104,-1,learning,new,377,0,0,0,0,0,0,Data Security,
1676650918318,1676650918317,0,1677426104,-1,learning,new,378,0,0,0,0,0,0,Data Security,
1676651314227,1676651314227,0,1677426104,-1,learning,new,379,0,0,0,0,0,0,Data Security,

In [13]:
col.revs.help_cols()

,AnkiColumn,Table,Description,Native,Default
Column,,,,,
cid,cid,revs,ID of the card (this corresponds to a epoch mi...,True,True
cid,id,cards,ID of the card (this corresponds to a epoch mi...,True,True
rease,ease,revs,Which button you pushed to score your recall: ...,True,True
rfactor,factor,revs,The new ease factor of the card in permille (p...,True,True
rivl,ivl,revs,The new interval that the card was pushed to a...,True,True
rlastIvl,lastIvl,revs,Last interval,True,True
rtime,time,revs,"How many milliseconds your review took, up to ...",True,True
rtype,type,revs,"Values: ‘learning’, ‘review’, ‘relearn’, ‘cram...",True,True
rusn,usn,revs,This column (update sequence number) is used t...,True,True

In [16]:
col.revs

,cid,rusn,rease,rivl,rlastIvl,rfactor,rtime,rtype
rid,,,,,,,,
1648548304526,1648490988288,0,1,-60,-60,0,26026,learning
1648548495483,1648491044794,0,3,-600,-60,0,34672,learning
1648569071860,1648490988288,0,2,-60,-60,0,60000,learning
1648569080517,1648491044794,0,4,4,-600,2500,8623,learning
1648569093084,1648491081393,0,1,-60,-60,0,12540,learning
...,...,...,...,...,...,...,...,...
1677426131559,1668354563685,-1,0,0,0,0,0,NaN
1677426131560,1668354736243,-1,0,0,0,0,0,NaN
1677426131561,1668354951154,-1,0,0,0,0,0,NaN
1677426131562,1668355123895,-1,0,0,0,0,0,NaN
1677426131563,1668355195156,-1,0,0,0,0,0,NaN